<a href="https://colab.research.google.com/github/SanjanaTikare117/ML-Basics/blob/main/lab9_pip.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def display():
  print("welcome to python function")
display()

welcome to python function

In [ ]:
def display(name,age):
  print("name=",name)
  print("age=",age)
display("Sanjana",18)

name= Sanjana
age= 18

In [ ]:
def student(name, branch, rollno,  age=18, stud="studying"):
  print("name=",name)
  print("age=",age)
  print("stud=",stud)
  print("branch=",branch)
  print("rollno=",rollno)
student("Sanjana","csd","20211CSD0161")

name= Sanjana
age= 18
stud= studying
branch= csd
rollno= 20211CSD0161

In [ ]:

def circle(rad=1, pi=3.14):
  area = pi * rad * rad
  print("rad=",rad)
  print("the area of circle is",area)
circle(5)

rad= 5
the area of circle is 78.5

In [ ]:
p=20
def demo():
  p=10
  print(p)
  print(p)
demo()

print(p)

10
10
20

In [ ]:
def demo():
  print("welcome to python function")
demo()

welcome to python function

In [ ]:
def demo():
  s="welcome to python function"
  print(s)
s="i like python"
demo()
print(s)

welcome to python function
i like python

In [ ]:
def minnum(a, b):
  if a<b:
    print("a is minimum")
    return a
  elif b<a:
    print("b is minimum")
    return b
  else:
    return 0
minnum(2,3)

a is minimum

2